@model EBeats.Models.Product


<div class="details-container">
    <div class="col-6">
        <img style="height:400px;object-fit:cover;width:auto;" src="@Model.Image" />
    </div>
    <div class="details-section">
        <h4>@Model.Name</h4>
        <hr/>
        <p>
            @Model.Description
        </p>
        <div class="price-container">
            
            <span>@Model.Price $</span>
        </div>
        <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="add-to-cart">Add to cart +</a>
    </div>
</div>


