@model IEnumerable<EBeats.Models.Category>

    <div class="p-2">
        <div class="text-center">
            
            <h2 style="color:orange;" >Muzika fillon ketu!</h2>

        </div>
        
    @foreach(var c in Model)
    {

        <div style="font-size:24px;color:orangered;margin:8px">@c.Name</div>
        <hr style="margin:10px 0px"/>
      
        @if (c.Products != null)
        {
            @foreach(var item in c.Products)
        {
                <div class="card col-3 mr-4 overflow-hidden">
                    <img src="@item.Image" class="img-fluid card-img-top" alt="" />
                    <div class="p-2">
                        
                    <h4 style="font-weight:650;">@item.Name</h4>
                    <div>
                        @Html.Raw(item.Description)
                    </div>
                    <p style="color:green;font-weight:600">
                        @item.Price.ToString("C2")
                    </p>
                    <p>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </p>
                    </div>
                </div>
            
        }
            
        }
        
    }
</div>